html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid ;
    grid-template-columns: 200px calc(100% - 200px);
    grid-template-rows: 125px calc(100% - 250px) 125px;
    scroll-behavior: smooth;
    min-height: 100%;
    position: relative;
}

.left{
    grid-column: 1;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #581896;
    border-right : #F8EDEB solid 2px;
}

#homeText {
    margin: 0;
}

.home {
    margin-top: 1rem;
    color:#F8EDEB;
}

.profil{
    margin-bottom: 1rem;
    color:#F8EDEB;
}

header{
    grid-column: 2/4;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    background-color: #581896;
    border-bottom : #F8EDEB solid 2px ;
}

.inp{
    margin-left: 50px;
    margin-bottom: 30px;
}
 

.middle{
    grid-column: 2/4;
    grid-row: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2A0949;
    color: white;
    overflow: auto;
    padding: 2rem 0 0 1rem;
}

.middle > div > p {
    padding-left: 6rem;
    text-decoration: underline;
}

.musiqueContainer {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.musiqueContainer > div {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musiqueContainer > div > p {
    margin: 0;
    padding-top: 1rem;
}

.musiqueImg {
    width: 256px;
    height: 256px;
    background: white;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10%;
}

.imgContainer:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.imgContainer:active {
    transform: scale(1.05);
    transition: 0.1s;
    opacity: 0.5;
}

.imgContainer {
    cursor: pointer;
}

.musiqueTextInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.7rem;
    width: 90%;
}

.footer{
    grid-column: 2/4;
    grid-row: 3;
    background-color: #581896;
    border-top : #F8EDEB solid 2px;
}

.footerBar {
    height: 100%;
    margin-left: 2rem;
}

.controlButton {
    padding-left: 1rem;
}

#likeButton > div {
    margin: 0 10px;
}

.timestampMusic {
    margin: 0 !important;
    height: 100%;
    align-items: center;
    padding: 0.2rem 1rem;
}

#attenteMusic {
    margin-right: 3rem;
}

.fileAttente {
    width: 100%;
}



.volume-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.volume-slider {
  width: 120px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.volume-button:hover .volume-slider,
.volume-button:focus-within .volume-slider {
  opacity: 1;
  pointer-events: auto;
}

.fileAttente {
    width: 25%;
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-icon {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: #581896;
    color: white;
    padding: 10px;
    width: 10rem; /* Set the desired width for the dropdown content */
    box-sizing: border-box; /* Include padding in the width */
    animation: dropdown-animation 0.3s ease;
    border: white solid 2px;
}

.addToPlaylist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.addToPlaylist > p {
    margin: 0;
    padding: 0;
}

.addToPlaylist > div > svg {
    cursor: pointer;
    background: white;
    border-radius: 20%;
    color: #581896;
    padding: 2px;
}

.dropdown.open .dropdown-content {
    display: block;
}




.dropdownMusique {
  position: relative;
  display: inline-block;
}

.dropdownMusique-icon {
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 50%;
}

.dropdownMusique-icon:hover {
    color: #F8EDEB;
    background: #581896;
}

.dropdownMusique-content {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    background-color: #581896;
    color: white;
    padding: 10px;
    width: 10rem; /* Set the desired width for the dropdown content */
    box-sizing: border-box; /* Include padding in the width */
    animation: dropdown-animation 0.3s ease;
    border: white solid 2px;
}

.dropdownMusique-item {
    margin: 0.2rem;
    cursor: pointer;
}

.dropdownMusique-item:hover {
    color: #F8EDEB;
    background: #581896;
}

.dropdownMusique.open .dropdownMusique-content {
  display: block;
}


@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}