.mainAffichagePlaylist {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

#playlistInfoImage {
    width: 256px;
    height: 256px;
    background: rgb(64,142,187);
    background: linear-gradient(140deg, rgba(64,142,187,1) 0%, rgba(145,105,217,1) 59%, rgba(255,255,255,1) 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10%;
}

.musiqueInfoImage {
    background: rgb(64,142,187);
    background: linear-gradient(140deg, rgba(64,142,187,1) 0%, rgba(145,105,217,1) 59%, rgba(255,255,255,1) 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10%;
}

.name:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.bi-trash3:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.mainInfoPlaylist {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#bttn_ecouter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

#txt1{
    font-size: 40px;
    text-decoration: underline;
}

.ecouter{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: #581896;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: #F8EDEB;
    font-size: 27px;
}

.supprContainer {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
}

.suppr{
    background-color: #581896;
    color: #F8EDEB;
    border-radius: 20px;
    width: 15rem;
    height: 50px;
}

#line{
    margin: 0 2rem;
    border-bottom: 2px solid #F8EDEB;
}

.txt2{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
}


#listeMorceaux{
    margin: 2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Morceau{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex:1;

    font-size: 30px;
    color: #F8EDEB;
}

.name{
    display: flex;
    /* flex-direction: row; */
    flex: 1;
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 5%;
}

.artiste{
    font-size: 20px;
    color: #b6b4b4;
}

.infos{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex:1;
}

.delete{
    display: flex;
    justify-content: right;
    gap: 5%;
    flex: 1;
}

p{
    margin : 0;
}

.bi-heart:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}