/* .bodylogin{
    display: grid ;
    grid-template-columns: 350px 1180px 350px;
    grid-template-rows: 70px 837px 70px;
    background-color: #2A0949;
}

.one{
    grid-column:2;
    grid-row:2;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #F8EDEB;
    border-radius: 30px;
}


.two{
    grid-column:1;
    grid-row:1/3;
    display: flex;
    justify-content: center;
}

.img{
    color: #F8EDEB;
    margin-top: 60px;
}

.title{
    color: #2A0949;
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
}

.bienvenue{
    color: #2A0949;
    font-size: 80px;
    font-weight: bold;
}

.inp, input{
    border:2px solid #2A0949;
    background-color: #F8EDEB;
    border-radius:13px;
    font-family: "Lucida Console";
}
.inp{
    margin-top: 150px;
}

button{

} */


body {
    align-items: center;
    background-color: #2A0949;
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    background-color: #F8EDEB;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    height: 75%;
    padding: 20px;
    width: 60%;
  }
  
  .title {
    color: #2A0949;
    font-family: sans-serif;
    text-decoration: underline;
    
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #2A0949;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #F8EDEB;
    border-radius: 17px;
    border: 2px solid #2A0949;
    box-sizing: border-box;
    color: #450C7C;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #F8EDEB;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  /* .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  } */
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-35px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #2A0949;
  }
  
  .input:focus ~ .placeholder {
    color: #2A0949;
  }
  
  .valider {
    background-color: #2A0949;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #F8EDEB;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .valider:active {
    background-color: #450C7C;
  }
  
  .sign{
    color: #2A0949;
    position: relative;
    top: 57%;
    left: 43%;
    display: inline-block;
    background-color: #2A0949;
    color: #F8EDEB;
    padding: 20px 60px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
    
    .sign:hover {
    background-color: #450C7C;
    }

