/* cette page s'occupe du style du header et du footer du site */


/* On met à 0 les bordures car il y en à parfois par défaut */
html{
    border: 0;
    padding: 0;
}
body{
    border: 0;
    padding: 0;
    background-color: #2A0949;
}
::-webkit-scrollbar {
    display: none;
}


/* style du profil dans le header */
.profilHeader{
    margin-bottom: 10px;
    color:#F8EDEB;
    cursor: pointer;
}
.home {
    cursor: pointer; /*permet de changer l'apparence du curseur lorsque celui-ci est sur l'objet */
}


/* place et stylise le header */
.header{
    position: sticky;
    top: 0;
    padding: 1rem 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #581896;
    border-bottom : #F8EDEB solid 2px;
    z-index: 100;
}
.inp {
    display: flex;
    flex-direction: row;
    gap: 10px;  /*permet de mettre un espace entre les éléments */
}


/* style de la bar de recherche */
#stringrecherche{
    background-color: #F8EDEB;
    border: 0;
    padding: 0.5rem;
    width: 35rem;
}

.middle {
    padding: 2rem 0 7rem 0;
}


/* style du footer */
.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #581896;
    border-top : #F8EDEB solid 2px ;
}
.footerBar {
    padding: 1rem;
    height: 100%;
    margin-left: 2rem;
}
.controlButton {
    padding-left: 1rem;
}
#likeButton > div {
    margin: 0 10px;
}
.timestampMusic {
    margin: 0 !important; /* !important permet de forcer le style par rapport à bootstrap*/
    height: 100%;
    padding: 0.2rem 1rem;
}
#attenteMusic {
    margin-right: 3rem;
}
.scrollBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* style du bouton de son */
.volume-button {
    position: relative;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.volume-slider {
  width: 120px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.volume-button:hover .volume-slider,
.volume-button:focus-within .volume-slider {
  opacity: 1;
  pointer-events: auto;
}


/* ajout à une playlist */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-icon {
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: #581896;
    color: white;
    padding: 10px;
    width: 10rem; /* Set the desired width for the dropdown content */
    box-sizing: border-box; /* Include padding in the width */
    animation: dropdown-animation 0.3s ease;
    border: white solid 2px;
}
.fileAttente {
    width: 25%;
}
.addToPlaylist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}
.addToPlaylist > p {
    margin: 0;
    padding: 0;
}
.addToPlaylist > div > svg {
    cursor: pointer;
    background: white;
    border-radius: 20%;
    color: #581896;
    padding: 2px;
}
.dropdown.open .dropdown-content {
    display: block;
}

/* permet de garder la responsivité selon l'écran */
@media screen and (max-width: 500px) { 
    .profil {
        display: none;
    }

    .scrollBar {
        display: none !important;
    }

    .volume-button {
        display: none;
    }
}


/* style des information, images en résultat de recherche */
#tabrecherche{
    width: 500px;
    padding: 20px 20px;
}
#tabrecherche li {
    position: relative;
    list-style-type: none;
    padding: 1px 1px 1px 1px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #2A0949;
}
#tabrecherche li span {
    font-size: 30px;
    font-weight: 600;
    color: grey;
}
#tabrecherche li img {
    width: 100px;
    height: 100px;
    margin-left: 25px;
}
#tabrecherche li h5{
    font-size: 30px;
    margin-left: 15px;
    color: #F8EDEB;
}
#tabrecherche li h5 .subtitle{
    font-size: 22px;
    color: grey;
}
#tabrecherche li h5 #heart{
    position: absolute;
    left: 800px;
    top: 40px;
    width: 40px;
    height: 40px;
}
#tabrecherche li h5 #addPlaylistButton{
    position: absolute;
    left: 870px;
    top: 40px;
    width: 40px;
    height: 40px;
}
#tabrecherche li h5 #infos{
    position: absolute;
    left: 950px;
    top: 40px;
    width: 40px;
    height: 40px;
}


/* style des bouton de recherche */
.searchButton {
    appearance: none;
    background-color: #2A0949;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
}
#display ul{
    margin-bottom: 250px;
}
#display ul li {
    height: 110px;
}
