.bodyone{
    display: grid ;
    grid-template-columns: 150px 450px;
    grid-template-rows: 125px 727px 125px;
    
}

.left{
    grid-column: 1;
    grid-row: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #581896;
    border-right : #F8EDEB solid 2px ;
}

.profil{
    margin-bottom: 10px;
    color:#F8EDEB;
}

.header{
    grid-column: 2/4;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    background-color: #571796;
    border-bottom : #F8EDEB solid 2px ;
    
}

.inp{
    margin-left: 50px;
    margin-bottom: 30px;
}
 

.middle{
    grid-column: 2/4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 330px 30px 300px;
    background-color: #2A0949;
    
}

.one{
    /* grid-column: 1/3; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A0949;
    color: #F8EDEB;
    font-size: 40px;
    text-decoration: underline;
}


.footer{
    grid-column: 2/4;
    grid-row: 3;
    background-color: #581896;
    border-top : #F8EDEB solid 2px ;
}
  
  .scrollable-content {
    overflow-y: auto;
  }
  
  /* .content {
    padding: 20px;
  } */